.first{
    float: right;
    width: 200px;
}
.second{
    display: flex;
}
#burgerlogo{
    position: relative;
    top: 20px;
}
.otherdiv{
    float: left;
    padding-top: 200px;
}
header{
    background-color: yellow;
    padding-bottom: 400px;
}