html{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.first{
    float: right;
    display: flex;
    padding: 20px;
}
.second{
    display: flex;
}
#burgerlogo{
    position: relative;
    top: 20px;
}
.otherdiv{
    float: left;
    padding-top: 200px;
}
header{
    background-color: yellow;
    padding-bottom: 400px;
}
#CITYPNG{
    float: right;
}
.firstdivmain{
    display: flex;
    text-align: center;
    background-color: rgb(237, 241, 250) ;
    padding-bottom: 200px;
}
.qualityburgers{
    border: 1px solid rgb(83, 83, 83);
    border-radius: 5%;
    padding-bottom: 30px;
    margin: 9px;
}
.fastdelivery{
    border: 1px solid rgb(83, 83, 83);
    border-radius: 5%;
    padding-bottom: 30px;
}
.deliciousmeals{
    border: 1px solid rgb(83, 83, 83);
    border-radius: 5%;
    padding-bottom: 30px;
    margin: 9px;
}
.seconddivmain{
    background-color: rgb(255, 255, 255);
    padding-bottom: 500px;
    left: 100px;
    padding: 20px;
}
#firstofseconddiv{
    display: flex;
}
.seconddivmain img{
    height: 200px;
}
.secondofseconddiv{
    display: flex;
}
#one{
    border: 2px solid rgb(124, 120, 120);
    border-radius: 20px;
    margin-right: 5px;
}
#two{
    border: 2px solid rgb(124, 120, 120);
    border-radius: 20px;
}
#three{
    border: 2px solid rgb(124, 120, 120);
    border-radius: 20px;
    margin-left: 5px;
}
#four{
    border: 2px solid rgb(124, 120, 120);
    border-radius: 20px;
}
#five{
    border: 2px solid rgb(124, 120, 120);
    border-radius: 20px;
    text-align: center;
    margin-top: 5px;
    
}
#six{
    border: 2px solid rgb(124, 120, 120);
    border-radius: 20px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
}
#firstofseconddiv:first-child{
    text-align: center;
}
#four{
    text-align: center;
    margin-top: 5px;
    margin-right: 5px;
}
#ourmenu{
    text-align: center;
    font-weight: 900;
}
#menu{
    color: orange;
}
.thirddivmain{
    margin-left: 50px;
}
#double{
    float: right;
    position: relative;
    top: -200px;
}
.lastdiv{
    background-color: rgb(243, 243, 243);
    padding-bottom: 400px;
}
.finaldiv{
    background-color: orange;
    padding-bottom: 400px;
}