html{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.first{
    float: right;
    width: 200px;
    display: inline;
}
.second{
    display: flex;
}
#burgerlogo{
    position: relative;
    top: 20px;
}
.otherdiv{
    float: left;
    padding-top: 200px;
}
header{
    background-color: yellow;
    padding-bottom: 400px;
}
#CITYPNG{
    float: right;
}
.firstdivmain{
    display: flex;
    text-align: center;
    background-color: rgb(227, 234, 250) ;
    padding-bottom: 400px;
}
.qualityburgers{
    border: 1px solid rgb(83, 83, 83);
    border-radius: 5%;
    padding-bottom: 30px;
}